
.device-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 130px;
    height: 12%;
    aspect-ratio: 2.5/1;
    border-radius: 15px;
    border: none;
    background-color: white;
}

.device-card:hover{
    cursor: pointer;
}

.device-card h1 h3{
    margin: 0;
}